html{  font-size: 14px; line-height: 1.5; font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, Verdana, sans-serif; }
body{background-image:url('back.png');}

h1,h2,h3,ul,ol,p{ margin: 1.5em 0; }
fieldset h3{ margin: 1.5em -28px; padding: 14px 28px; line-height: 1; background: #efefef; color: #343434; }

.uniForm{ width: 55%; background: #fff; margin: 0px auto; padding: 28px;
          /* CSS3 */
          border-radius:         12px;
          -webkit-border-radius: 12px;
          -moz-border-radius:    12px;
          -o-border-radius:      12px;
          -khtml-border-radius:  12px;
        }
    
#footer{ width: 55%; margin: 28px auto; text-align: center; font-size: .75em; color: #777; }

/* IE6 fixes for the page */
* html form.uniForm{ overflow: hidden; }
	* html .header{ zoom: 1; overflow: hidden;}
* html .browse{ position: absolute; }

/* Additions for validation */
div.valid{
  background: url(../img/ok.png) 100% 2.75em no-repeat;
}
