<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Gymkhana</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>gymkhana.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNew</display-name>
    <servlet-name>AddNew</servlet-name>
    <servlet-class>gymkhana.AddNew</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNew</servlet-name>
    <url-pattern>/AddNew</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Request</display-name>
    <servlet-name>Request</servlet-name>
    <servlet-class>gymkhana.Request</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Request</servlet-name>
    <url-pattern>/Request</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewRoom</display-name>
    <servlet-name>AddNewRoom</servlet-name>
    <servlet-class>gymkhana.AddNewRoom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewRoom</servlet-name>
    <url-pattern>/AddNewRoom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Password</display-name>
    <servlet-name>Password</servlet-name>
    <servlet-class>gymkhana.Password</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Password</servlet-name>
    <url-pattern>/Password</url-pattern>
  </servlet-mapping>
</web-app>